<header id="main-header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo" href="/">
                        <img src="img/logo.png" alt="Image Alternative text" title="Image Title"/>
                    </a>
                </div>
                <div class="col-md-3 col-md-offset-2">

                </div>
                <div class="col-md-4">
                    <div class="top-user-area clearfix">
                        <ul class="top-user-area-list list list-horizontal list-border">
                            <security:authorize access="hasRole('ROLE_ADMIN')">
                                <li>
                                    <a href="/admin">Admin</a>
                                </li>
                            </security:authorize>


                            <li class="nav-drop"><a href="#">GBP &pound;<i class="fa fa-angle-down"></i><i
                                    class="fa fa-angle-up"></i></a>
                                <ul class="list nav-drop-menu">
                                    <li><a href="#">EUR<span class="right">&euro;</span></a>
                                    </li>
                                    <li><a href="#">JPY<span class="right">&yen;</span></a>
                                    </li>
                                    <li><a href="#">USD<span class="right">&dollar;</span></a>
                                    </li>

                                </ul>
                            </li>


                            <security:authorize access="hasRole('ROLE_ANONYMOUS')">
                                <li><a href="/login"><i
                                        class="fa fa-lock  box-icon-gray box-icon-success box-icon-left animate-icon-border-rise round"></i></a>
                                </li>
                            </security:authorize>


                            <security:authorize
                                    access="hasRole('ROLE_ADMIN') OR hasRole('ROLE_USER') OR hasRole('ROLE_STAFF')">
                                <li><a href="/j_spring_security_logout"><i class="fa fa-sign-out danger fa-2x"></i></a>
                                </li>
                            </security:authorize>


                            <security:authorize
                                    access="hasRole('ROLE_ADMIN') OR hasRole('ROLE_USER') OR hasRole('ROLE_STAFF')">
                                <li><a href="/profile"><i
                                        class="fa fa-user fa-2x  box-icon-gray box-icon-info box-icon-left animate-icon-border-rise round"></i>Hi,
                                    [USERNAME]</a></li>
                            </security:authorize>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="gap"></div>