<!-- // Main Container Fluid END -->
<!-- Global -->
<script data-id="App.Config">
    var App = {};
    var basePath = '',
            commonPath = '../assets/',
            rootPath = '../',
            DEV = false,
            componentsPath = '../assets/components/';
    var primaryColor = '#3695d5',
            dangerColor = '#b55151',
            successColor = '#609450',
            infoColor = '#4a8bc2',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';
    var themerPrimaryColor = primaryColor;
</script>
<script src="../assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/plugins/breakpoints/breakpoints.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/plugins/preload/pace/pace.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/plugins/preload/pace/preload.pace.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/core/js/animations.init.js?v=v1.0.3-rc2"></script>
<script src="../assets/components/plugins/holder/holder.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.0.3-rc2"></script>
<script src="../assets/components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.0.3-rc2"></script>
<script src="../assets/components/common/forms/elements/uniform/assets/lib/js/jquery.uniform.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/common/forms/elements/uniform/assets/custom/js/uniform.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/common/tables/classic/assets/js/tables-classic.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="../assets/components/core/js/sidebar.main.init.js?v=v1.0.3-rc2"></script>
<script src="../assets/components/core/js/sidebar.collapse.init.js?v=v1.0.3-rc2"></script>
<script src="../assets/components/core/js/core.init.js?v=v1.0.3-rc2"></script>