<div class="">
    <!-- With selected actions -->
    <div class="pull-left checkboxs_actions" style="display: none;">
        <label>With selected:
            <select class="selectpicker margin-none dropup" data-style="btn-default btn-xs">
                <option>Action</option>
                <option>Action</option>
                <option>Action</option>
            </select>
        </label>
    </div>
    <!-- // With selected actions END -->
    <div class="pull-right">
        <ul class="pagination margin-none">
            <li class="disabled"><a href="#">&laquo;</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <!-- // Pagination END -->
</div>